spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tdc
    driver: com.mysql.jdbc.Driver
    username: root
    password: root

  jpa:
    hibernate:
      use-new-id-generator-mappings: false

    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect