version: '2.1'

services:
  mysql-db:
    container_name: MySqlDB
    image: mysql:latest
    environment:
      MYSQL_DATABASE: tdc
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./db/:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    healthcheck: 
      test: mysqladmin ping -h 127.0.0.1 -u root --password=$$MYSQL_ROOT_PASSWORD
      interval: 30s
      timeout: 10s
      retries: 5

  api-produtos:
    container_name: ApiProdutos
    image: gladson21/api-produtos:v1
    volumes:
      - ./api-produtos/src/main/resources/application-docker.yml:/home/binarios/application.yml
    ports:
      - "8080:8080"
    depends_on: 
      mysql-db:
          condition: service_healthy
